@import "./utils/variables.scss";

@import "./base/font.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}





body {
    margin: 0px;
    
}



main {
    & #explore-restaurants {
        background-color: lighten($color-quaternaire, 5%);
        height: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        & h1 {
            margin-top: 0px;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    & #fonct {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 440px;
        padding-bottom: 50px;
        & :last-child {
            transform: background-color(lighten($color-primary, 10%));
        }
    }

    & #restaurants {
        background-color: lighten($color-quaternaire, 5%);
        padding: 20px;
        
    }
}

.btn_degrade {
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: none;
    background: linear-gradient(to bottom right,$color-secondary 0%, $color-primary 100%);
}

.card {
    height: 70px;
    background: lighten($color-quaternaire, 5%);
    border-radius: 20px;
    text-align: center;
    margin-left: 12.5px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px darken($color-quaternaire, 10%);
    &__circle {
        height: 25px;
        width: 25px;
        color: white;
        border-radius: 12.5px;
        background-color: $color-primary;
        line-height: 25px;
        position: absolute;
        left: 20px;
    }
    &__icon {
        color: gray;
        margin-right: 20px;
        margin-left: 35px;
    }
    &__titre {
        font-weight: bold;
    }
}

.card-restaurant {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    &__img {
        width: 100%;
        height: 70%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-position: 0px -45px;
        object-fit: cover;
    }
    &__details {
        height: 75px;
        background: white;
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    &__new {
        background-color: $color-tertiaire;
        color: darken($color-tertiaire, 30%);
        height: 30px;
        width: 80px;
        position: absolute;
        right: 10px;
        top: 10px;
        text-align: center;
        line-height: 30px;
        font-size: 0.9em;
    }
}

.heart {
    position: absolute;
    right: 20px;
    top: 15px;
    transform: scale(1.5);
    // color: white;
    // border: 1px solid;

    &:active {
        color: $color-primary;
        // background-color: linear-gradient(to bottom right,$color-secondary 0%, $color-primary 100%);
        
    }
    &--modified {
        color: $color-primary;
    }
}



// footer {
//     background: $color-primary;
// }
