

footer {
    padding: 20px;
    background: darken($color-quaternaire, 70%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & .footer-logo {
        &__img {
            filter: invert(100%);
            transform-origin: left;
            transform: scale(0.3);
        }
    }
    & .footer-details {
        display: flex;
        flex-direction: column;
        &__icon {
            margin-right: 10px;
        }
        &__text {
            margin-bottom: 10px;
        }
        
    }
}