
footer {
    padding: 20px;
    background: darken($color-quaternaire, 70%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & .footer-logo {
        &__img {
            width: 100%;
            filter: invert(100%);
            transform-origin: left;
            transform: scale(0.3);
            @include pc-screen {
                width: auto;
            }
            @include tablet-screen {
                width: auto;
            }
        }
    }
    & .footer-details {
        display: flex;
        flex-direction: column;
        &__icon {
            width: 13px;
        }
        &__container {
            display: flex;
            margin-bottom: 10px;
            & a {
                text-decoration: none;
                color: white;
            }
        }
        
    }
}

.footer-text {
    margin-left: 20px;
}