.section-menu {
    @include tablet-screen {
        display: flex;
        flex-wrap: wrap;
    }
    
    & h2 {
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: normal;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    & .card-menu-detail {
        opacity: 0;
    }
    
    & #section-entrees {
        @include tablet-screen {
            width: 33%;
        }
    }

    & #section-entrees .card-menu-detail:nth-child(1) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 200ms both;
    }
    & #section-entrees .card-menu-detail:nth-child(2) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 500ms both;
    }
    & #section-entrees .card-menu-detail:nth-child(3) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 800ms both;
    }

    & #section-plats {
        @include tablet-screen {
            width: 33%;
        }
    }

    & #section-plats .card-menu-detail:nth-child(1) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 1100ms both;
    }
    & #section-plats .card-menu-detail:nth-child(2) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 1400ms both;
    }
    & #section-plats .card-menu-detail:nth-child(3) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 1700ms both;
    }

    & #section-desserts {
        @include tablet-screen {
            width: 33%;
        }
    }

    & #section-desserts .card-menu-detail:nth-child(1) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 2000ms both;
    }
    & #section-desserts .card-menu-detail:nth-child(2) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 2300ms both;
    }
    & #section-desserts .card-menu-detail:nth-child(3) {
        animation: show-card-menu-detail $show-card-menu-detail-dur 2600ms both;
    }
}

#section-entrees {
    opacity: 0;
    animation: show-section 500ms 0ms both;
}

#section-plats {
    opacity: 0;
    animation: show-section 500ms 850ms both;
}

#section-desserts {
    opacity: 0;
    animation: show-section 500ms 1850ms both;
}

@keyframes show-card-menu-detail {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-section {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-h2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}