

footer {
    height: 200px;
    padding: 20px;
    background: darken($color-quaternaire, 70%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & .footer-logo {
        &__img {
            filter: invert(100%);
            transform: scale(0.3);
        }
        
    }
}