@font-face {
  font-family: "Shrikhand";
  src: url("font/Shrikhand-Regular.otf");
}
@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf");
}
.loader-spinner {
  position: absolute;
  left: calc(50% - 37px);
  top: 50%;
  width: 100px;
  height: 100px;
  z-index: 1;
  animation: load-spinner 0ms 3000ms both;
}

.loader-spinner div {
  transform-origin: 40px 40px;
  animation: loader-spinner 1.2s infinite both;
}

.loader-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #FF79DA;
}

.loader-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.loader-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.loader-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.loader-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.loader-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.loader-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.loader-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.loader-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.loader-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.loader-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.loader-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.loader-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes loader-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load-spinner {
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.btn--degrade {
  height: 50px;
  width: 185px;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border: none;
  box-shadow: 0px 3px 10px #9e9e9e;
  background: linear-gradient(to bottom right, #FF79DA 0%, #9356DC 100%);
}
.btn--degrade:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #fface8 0%, #ae80e5 100%);
  box-shadow: 0px 3px 10px #383838;
}
.btn--new {
  background-color: #99E2D0;
  color: #32b091;
  height: 30px;
  width: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 0.9em;
  border-radius: 3px;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 1024px) {
  .container-column {
    flex-direction: row;
  }
}

.padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.flex1 {
  flex: 1;
}

.main-container {
  background-color: white;
  animation: main-container 3000ms both;
}

.card-fonction-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 60px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .card-fonction-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.card-fonction-container h1 {
  position: absolute;
  top: -60px;
}

@media screen and (min-width: 1024px) {
  #container-explore-fonct {
    display: flex;
  }
}

.container-restaurants {
  max-width: 1000px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

@keyframes main-container {
  0% {
    filter: blur(4px);
  }
  80% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0);
  }
}
.card-fonction {
  height: 70px;
  background: #f7f7f7;
  border-radius: 20px;
  text-align: center;
  display: flex;
  padding-right: 20px;
  align-items: center;
  box-shadow: 0px 5px 10px #d1d1d1;
  position: relative;
  max-width: 538px;
  width: 100%;
  margin: 10px;
}
.card-fonction__circle {
  height: 25px;
  width: 25px;
  color: white;
  border-radius: 12.5px;
  background-color: #9356DC;
  line-height: 25px;
  position: absolute;
  left: -12.5px;
}
.card-fonction__icon {
  color: gray;
  margin-right: 20px;
  margin-left: 35px;
}
.card-fonction__titre {
  font-weight: bold;
}
.card-fonction:last-child {
  background-color: #e4d5f6;
}

#view-card-restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#view-card-restaurants .card-line {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1024px) {
  #view-card-restaurants .card-line {
    flex-direction: row;
  }
}
#view-card-restaurants .card-line h1 {
  position: absolute;
  top: -60px;
}

.card-restaurant {
  width: 100%;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
  max-width: 550px;
}
@media screen and (min-width: 1024px) {
  .card-restaurant {
    max-width: 380px;
    margin: 20px;
  }
}
.card-restaurant__img {
  height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-position: 0px -45px;
  object-fit: cover;
}
.card-restaurant__img:hover {
  cursor: pointer;
}
.card-restaurant__details {
  height: 75px;
  background: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card-restaurant__details i {
  font-size: 1.7em;
  right: 20px;
}
.card-restaurant__details i:hover {
  cursor: pointer;
}
.card-restaurant__new {
  background-color: #99E2D0;
  color: #32b091;
  height: 30px;
  width: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 0.9em;
}

.card-menu {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateY(-40px);
}
.card-menu__titre {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.7em;
  padding-left: 20px;
  padding-right: 45px;
  padding-top: 15px;
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 1024px) {
  .card-menu__titre {
    justify-content: center;
    font-size: 2em;
  }
}
.card-menu i:hover {
  cursor: pointer;
}
.card-menu i:active {
  cursor: progress;
}

.card-menu-detail {
  height: 70px;
  box-shadow: 0px 5px 5px #EAEAEA;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .card-menu-detail {
    height: 100px;
    min-width: 400px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .card-menu-detail {
    height: 100px;
    min-width: auto;
  }
}
.card-menu-detail__titre {
  font-weight: bold;
  font-size: 1.1em;
}
.card-menu-detail__prix {
  font-weight: bold;
  font-size: 1.1em;
}
.card-menu-detail__detail {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}
.card-menu-detail__detail .text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-menu-detail__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.card-menu-detail__right {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}
.card-menu-detail__right i {
  color: white;
  transition: transform 0.5s 0.2s;
}
.card-menu-detail:hover {
  cursor: pointer;
}
.card-menu-detail:hover .card-menu-detail__right {
  min-width: 60px;
  opacity: 1;
  transform: scaleX(1);
}
.card-menu-detail:hover .card-menu-detail__right i {
  transform: rotate(360deg);
}
.card-menu-detail:hover .card-menu-detail__left {
  width: auto;
}

.heart {
  position: absolute;
  right: 45px;
  top: 20px;
  z-index: 1;
  background: #f7f7f7;
}
.heart--modified {
  position: absolute;
  right: 45px;
  top: 20px;
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.heart-anim:hover {
  animation: color-heart 500ms 100ms forwards;
}

@keyframes color-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.photo {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .photo {
    object-fit: cover;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .photo {
    object-fit: cover;
  }
}

.underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-left: 20px;
  margin-bottom: 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px #d1d1d1;
}
@media screen and (min-width: 1024px) {
  header .header__logo {
    width: 40%;
  }
}
header .header__logo img {
  width: 100%;
  transform: scale(0.5);
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  min-width: auto;
}

.main-index #localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  font-weight: 700;
  margin-top: 5px;
}
.main-index #localisation i {
  margin-right: 20px;
}
.main-index #explore-restaurants {
  background-color: #f7f7f7;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main-index #explore-restaurants {
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-index #explore-restaurants h1 {
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
}
.main-index #fonct {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .main-index #fonct {
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .main-index #fonct {
    height: auto;
  }
}
.main-index #restaurants {
  background-color: #f7f7f7;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.main-menu {
  background: #f7f7f7;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .section-menu {
    display: flex;
    flex-wrap: wrap;
  }
}
.section-menu h2 {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: normal;
  padding-left: 20px;
  margin-bottom: 10px;
}
.section-menu .card-menu-detail {
  opacity: 0;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .section-menu #section-entrees {
    width: 33%;
  }
}
.section-menu #section-entrees .card-menu-detail:nth-child(1) {
  animation: show-card-menu-detail 1000ms 200ms both;
}
.section-menu #section-entrees .card-menu-detail:nth-child(2) {
  animation: show-card-menu-detail 1000ms 500ms both;
}
.section-menu #section-entrees .card-menu-detail:nth-child(3) {
  animation: show-card-menu-detail 1000ms 800ms both;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .section-menu #section-plats {
    width: 33%;
  }
}
.section-menu #section-plats .card-menu-detail:nth-child(1) {
  animation: show-card-menu-detail 1000ms 1100ms both;
}
.section-menu #section-plats .card-menu-detail:nth-child(2) {
  animation: show-card-menu-detail 1000ms 1400ms both;
}
.section-menu #section-plats .card-menu-detail:nth-child(3) {
  animation: show-card-menu-detail 1000ms 1700ms both;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .section-menu #section-desserts {
    width: 33%;
  }
}
.section-menu #section-desserts .card-menu-detail:nth-child(1) {
  animation: show-card-menu-detail 1000ms 2000ms both;
}
.section-menu #section-desserts .card-menu-detail:nth-child(2) {
  animation: show-card-menu-detail 1000ms 2300ms both;
}
.section-menu #section-desserts .card-menu-detail:nth-child(3) {
  animation: show-card-menu-detail 1000ms 2600ms both;
}

#section-entrees {
  opacity: 0;
  animation: show-section 500ms 0ms both;
}

#section-plats {
  opacity: 0;
  animation: show-section 500ms 850ms both;
}

#section-desserts {
  opacity: 0;
  animation: show-section 500ms 1850ms both;
}

@keyframes show-card-menu-detail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-section {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-h2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  padding: 20px;
  background: #383838;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer .footer-logo__img {
  width: 100%;
  filter: invert(100%);
  transform-origin: left;
  transform: scale(0.3);
}
@media screen and (min-width: 1024px) {
  footer .footer-logo__img {
    width: auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  footer .footer-logo__img {
    width: auto;
  }
}
footer .footer-details {
  display: flex;
  flex-direction: column;
}
footer .footer-details__icon {
  width: 13px;
}
footer .footer-details__container {
  display: flex;
  margin-bottom: 10px;
}
footer .footer-details__container a {
  text-decoration: none;
  color: white;
}

.footer-text {
  margin-left: 20px;
}

* {
  box-sizing: border-box;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
