.container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.flex1 {
    flex: 1;
}

.main-container {
    background-color: white;
    animation: main-container $main-container-dur both;
}

.card-fonction-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    @include tablet-big-screen {
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#container-explore-fonct {
    @include pc-screen {
        display: flex;
    }
}

@keyframes main-container {
    0% {
        filter: blur(4px);
    }

    80% {
        filter: blur(4px);
    }

    100% {
        filter: blur(0);
    }

    
}