.container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.flex1 {
    flex: 1;
}

.main-container {
    background-color: white;
    animation: main-container 0ms $main-container-delay both;
}

@keyframes main-container {
    0% {
        transform: translateX(-9999px);
    }

    100% {
        transform: translateX(0);
    }
}