.heart {
    position: absolute;
    right: 45px;
    top: 20px;
    z-index: 1;
    background: lighten($color: $color-quaternaire, $amount: 5%);

    

    &--modified {
        position: absolute;
        right: 45px;
        top: 20px;
        @include color-degrade($color-secondary, $color-primary, to top);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.heart-anim {
    &:hover {
        animation: color-heart 500ms 100ms forwards;
    }
}

@keyframes color-heart {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}