.loader-spinner {
    position: absolute;
    left: calc(50% - 37px);
    top: 50%;
    width: 100px;
    height: 100px;
    z-index: 1;
    animation: load-spinner $loader-spinner-delay $loader-spinner-dur both;
}

.loader-spinner div {
    transform-origin: 40px 40px;
    animation: loader-spinner 1.2s infinite both;

}

.loader-spinner div:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: $color-secondary;
  }

  @for $i from 1 to 13 {
    .loader-spinner div:nth-child(#{$i}) {
      $deg: 30deg * ($i - 1);
      $delay: ($i - 12) * 0.1s;
      // @debug $deg;
      // @debug $delay;
      transform: rotate($deg);
      animation-delay: $delay;
    }
  }
    
  @keyframes loader-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes load-spinner {
    90%{
        opacity: .9;
        
    }
    100% {
        opacity: 0;
    }
  }