.photo {
    width: 100%;
    @include pc-screen {
        // height: 500px;
        object-fit: cover;
    }
    @include tablet-screen {
        // height: 400px;
        object-fit: cover;
    }
    
}