.photo {
    width: 100%;   
}

.photo-menu {
    width: 100%;
    object-fit: cover;
    height: 300px;
    @include pc-screen {
        height: 350px;
    }
    @include tablet-screen {
        height: 250px;
    }
}